In [1]:
file = 'iterationsNORMAL/iter_1/data.xlsx'

In [2]:
import numpy as np
import pandas as pd

In [3]:
dataX = pd.read_excel(file, sheet_name='x')
dataY = pd.read_excel(file, sheet_name='y')

In [4]:
dataX

            x1         x2         x3
0   -16.239156  29.345432  32.013937
1   -27.590186  46.913066 -20.484512
2   -24.948194 -15.333128 -29.852584
3   -37.645533 -21.444820 -45.103959
4    28.817646 -34.272607 -26.831390
..         ...        ...        ...
145 -21.103837 -27.248347  25.596694
146 -23.653543 -30.228683  22.138203
147  17.570478  22.569782 -20.246856
148 -32.631387  32.484394  41.072983
149  19.880108 -13.600688 -15.707317

[150 rows x 3 columns]

In [5]:
dataY

            y1         y2         y3
0    51.087712  15.716740 -17.990056
1    13.711795 -25.639047 -28.811081
2    27.800570  38.953211  22.945084
3   -22.226315 -15.195288 -25.115681
4    12.109975 -15.533403 -26.717770
..         ...        ...        ...
145 -12.957004   0.000000   0.000000
146  16.819525   0.000000   0.000000
147 -29.894787   0.000000   0.000000
148 -35.972963   0.000000   0.000000
149  38.780713   0.000000   0.000000

[150 rows x 3 columns]

In [6]:
# Divide dataX and dataY into two groups
# Calculate statistics for group 1

In [7]:
group1_X = dataX.iloc[:100]
group2_X = dataX.iloc[100:]

group1_Y = dataY.iloc[:100]
group2_Y = dataY.iloc[100:]

In [8]:
stats_group1_X = group1_X.agg(['mean', 'std', 'min', 'max'])
stats_group1_Y = group1_Y.agg(['mean', 'std', 'min', 'max'])
stats_group2_X = group2_X.agg(['mean', 'std', 'min', 'max'])
stats_group2_Y = group2_Y.agg(['mean', 'std', 'min', 'max'])

print("Group 1 - dataX statistics:")
print(stats_group1_X)

print("\nGroup 1 - dataY statistics:")
print(stats_group1_Y)

print("\nGroup 2 - dataX statistics:")
print(stats_group2_X)

print("\nGroup 2 - dataY statistics:")
print(stats_group2_Y)

Group 1 - dataX statistics:
             x1         x2         x3
mean  -4.397631  -3.764741  -1.620505
std   26.431826  26.072578  28.308173
min  -44.867636 -45.658954 -45.241513
max   45.755971  46.913066  44.319845

Group 1 - dataY statistics:
             y1         y2         y3
mean  -3.757096   0.414510   0.827983
std   25.371900  26.640858  25.632630
min  -42.208655 -40.474232 -45.975368
max   51.087712  46.261802  42.388680

Group 2 - dataX statistics:
             x1         x2         x3
mean   5.127300  -2.041481  -3.498054
std   25.799280  25.158077  25.614897
min  -42.000377 -38.925203 -36.742290
max   41.801089  44.353756  41.072983

Group 2 - dataY statistics:
             y1   y2   y3
mean   1.438199  0.0  0.0
std   25.100180  0.0  0.0
min  -35.972963  0.0  0.0
max   43.428233  0.0  0.0

In [10]:
a1 = np.load('/Users/harshit/Article4/iterationsNORMAL/iter_1/tree/a1.npy', allow_pickle=True)
a2 = np.load('/Users/harshit/Article4/iterationsNORMAL/iter_1/tree/a2.npy', allow_pickle=True)
dT1 = np.load('/Users/harshit/Article4/iterationsNORMAL/iter_1/tree/d_T1.npy', allow_pickle=True)
dT2 = np.load('/Users/harshit/Article4/iterationsNORMAL/iter_1/tree/d_T2.npy', allow_pickle=True)

In [11]:
import pickle

with open('/Users/harshit/Article4/iterationsNORMAL/iter_1/tree/nodes1.pkl', 'rb') as f:
    nodes1 = pickle.load(f)

with open('/Users/harshit/Article4/iterationsNORMAL/iter_1/tree/nodes2.pkl', 'rb') as f:
    nodes2 = pickle.load(f)

In [15]:
a1.shape

(19, 3)

In [14]:
a2.shape

(7, 3)

In [18]:
dT1.shape

(19, 3)

In [19]:
dT2.shape

(7, 1)

In [37]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [20]:
nodes1

{0: [3, 13, 25, 29, 54, 61, 77, 94],
 1: [15, 21, 24, 34, 37, 52, 81, 85],
 2: [16, 22, 32, 59],
 3: [7, 11, 74, 79],
 4: [1, 8, 17, 36, 38, 80, 89, 99],
 5: [4, 30, 57],
 6: [41, 45],
 7: [2, 9, 18, 47, 62, 73, 76],
 8: [10, 12, 20, 46, 56, 63, 64, 72, 84, 90],
 9: [51, 67, 97],
 10: [14, 23, 28, 55, 70, 91],
 11: [78],
 12: [35],
 13: [6, 26, 58, 66, 75, 82, 88, 93],
 14: [48, 71],
 15: [5, 19, 33, 65, 68, 69, 83, 87, 95, 96],
 16: [0, 49],
 17: [43, 44, 53],
 18: [27, 31, 39, 40, 42, 50, 60, 86, 92, 98]}

In [21]:
nodes2 # 50 wala

{0: [16, 31, 43],
 1: [0, 4, 6, 9, 22, 23, 24, 30],
 2: [11, 12, 14, 15, 19, 38, 39, 44, 45, 46],
 3: [5, 13, 27, 48],
 4: [8, 33, 37, 41, 42],
 5: [1, 2, 7, 17, 18, 20, 25, 29, 36, 49],
 6: [3, 10, 21, 26, 28, 32, 34, 35, 40, 47]}

In [35]:
arr = []
# for lis in nodes1.values():
#     arr.extend(lis)
for lis in nodes2.values():
    arr.extend(lis)

arr.sort()

In [36]:
len(arr)

50

In [34]:
a1

array([[-44.86763588, -45.65895447, -45.24151317],
       [-44.86763588, -45.65895447, -35.57197071],
       [-44.86763588, -26.79843719, -35.57197071],
       [-31.36161033, -26.79843719, -35.57197071],
       [-28.25330125, -26.79843719, -35.57197071],
       [-25.11169525, -45.65895447, -35.57197071],
       [-25.11169525,  29.99980389, -35.57197071],
       [-25.11169525, -27.13862343, -35.57197071],
       [-25.11169525,   5.64853688, -35.57197071],
       [-25.11169525, -45.65895447, -20.90618321],
       [-25.11169525, -33.06821675, -20.90618321],
       [-25.11169525, -27.1652047 , -20.90618321],
       [-23.76716078, -27.1652047 , -20.90618321],
       [-23.05797374, -27.1652047 , -20.90618321],
       [ 16.6345182 , -27.1652047 , -20.90618321],
       [ 24.31972453, -27.1652047 , -20.90618321],
       [-44.86763588,  29.34543155,  32.01393713],
       [-44.86763588, -45.65895447,  32.01393713],
       [-44.86763588, -33.08474911,  32.01393713]])

In [38]:
df1 = pd.DataFrame(a1, columns=['X1', 'X2', 'X3'], index=pd.Index(range(1, 20), name='leafnode'))
df1[['Y1', 'Y2', 'Y3']] = dT1
df1['DMUs'] = [ [x + 1 for x in nodes1[i]] for i in range(19)]

# DataFrame 2
df2 = pd.DataFrame(a2, columns=['X1', 'X2', 'X3'], index=pd.Index(range(1, 8), name='leafnode'))
df2['Y1'] = dT2.flatten()
df2['DMUs'] = [ [x + 101 for x in nodes2[i]] for i in range(7)]

In [46]:
df2

,X1,X2,X3,Y1,DMUs
leafnode,,,,,
1,-42.000377,-38.925203,-36.742290,-13.818265,"[117, 132, 144]"
2,-42.000377,-21.659687,-36.742290,25.685811,"[101, 105, 107, 110, 123, 124, 125, 131]"
3,-42.000377,-38.925203,-25.194243,29.016081,"[112, 113, 115, 116, 120, 139, 140, 145, 146, ..."
4,-42.000377,-24.612466,-25.194243,29.016081,"[106, 114, 128, 149]"
5,-30.908669,-24.612466,-25.194243,39.035014,"[109, 134, 138, 142, 143]"
6,-30.908669,-15.562952,-25.194243,43.385150,"[102, 103, 108, 118, 119, 121, 126, 130, 137, ..."
7,-30.908669,17.310887,-25.194243,43.428233,"[104, 111, 122, 127, 129, 133, 135, 136, 141, ..."

In [43]:
nodes2

{0: [16, 31, 43],
 1: [0, 4, 6, 9, 22, 23, 24, 30],
 2: [11, 12, 14, 15, 19, 38, 39, 44, 45, 46],
 3: [5, 13, 27, 48],
 4: [8, 33, 37, 41, 42],
 5: [1, 2, 7, 17, 18, 20, 25, 29, 36, 49],
 6: [3, 10, 21, 26, 28, 32, 34, 35, 40, 47]}